<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Comments!</h1>
<div th:if="${message}">
    <p th:text="${message}">Test</p>
</div>
<form action="#" th:action="@{/posts/{post_id}/comments(post_id=${commentsForm.post.id})}" th:object="${commentsForm}" method="post">
    <table>
        <tr>
            <td>Post:</td>
            <td th:text="${commentsForm.post.title}" colspan="2"></td>
        </tr>

        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}" /></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<table>
    <tr>
        <td><strong>Previous comments</strong></td>
        <td>Actions</td>
    </tr>
    <th:block th:each="comment : ${commentsForm.comments}">
        <tr>
            <td th:text="${comment.content}"></td>
            <td>
                <form action="/comments/delete" method="get">
                    <input type="hidden" th:value="${comment.id}" id="id" name="id"/>
                    <input type="hidden" th:value="${commentsForm.post.id}" id="postId" name="postId"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
    <a th:href="@{/posts}">Back to Posts</a>
</table>
</body>
</html>